notebooks/.DS_Store
__pycache__
*.pdf
notebooks/papers/*
notebooks/downloads/*
notebooks/experimentation.ipynb
extracted_content/*
.env
requirements.txt
notebooks/anthropic_experimentation.ipynb
notebooks/audio/*
notebooks/extracted_content/*
notebooks/summaries/*
src/services/llm_service.py
summaries/*
